<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Đăng ký</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Transparent login form using html and css" />
	<meta name="keywords"
		content="Transparent login form, login form, HTML, css, Background Blur, login form using html and css, Avatar Icon, Login With Facebook, Login with Google" />
	<meta name="author" content="HTMLCSS3TUTORIALS" />
	<link rel="stylesheet" type="text/css" href="../../css/dangKy.css" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>

<body>
	<div class="formContent blur">

		<div>
			<h2><img src="../../images/logo_noback.png" alt="" style="width: 250px;"><br>Đăng ký tài khoản</h2>
			<form th:action="@{/create}" method="post" th:object="${account}">
				<h6 style="color: red;">[[${message}]]</h6>
				<label>Tên đăng nhập</label>
				<input type="text" name="username" th:field="*{username}" required>
				<label>Gmail</label>
				<input type="email" name="email" th:field="*{email}" required>
				<label>Mật khẩu</label>
				<input type="password" name="password" th:field="*{password}" placeholder="" required>
				<label>Nhập lại mật khẩu</label>
				<input type="password" name="confirm" placeholder="" required oninput="checkPassword(this);">
				<input type="submit" name="submit" value="Đăng ký">
				<div class="remember">
					<div class="signup"> Bạn đã có tài khoản? <a href="/auth/login">Đăng nhập ngay!</a> </div>
				</div>
			</form>
		</div>
	</div>

<!--	<script type="text/javascript">-->
<!--		function checkPassword(password) {-->
<!--			if (password.value != $("#password").val()) {-->
<!--				password.setCustomValidity("Passwords are not the same!");-->
<!--			} else {-->
<!--				password.setCustomValidity("");-->
<!--			}-->
<!--		}-->
<!--	</script>-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>