<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
    <title>Thông tin</title>
	

	
	
</head>
<body class="js">	
	<!-- Start Contact -->
	<section id="contact-us" class="contact-us section">
		<div class="container">
				<div class="contact-head">
					<div class="row">
						<div class="col-lg-4 col-12">
							<div class="single-head">
								<div class="single-info">
								<img src="https://i.ibb.co/MZ4dhKM/855f57242bbef8e0a1af.jpg" width="250px" height="250px" style="border-radius: 5px;">
								</div>
								<input type="file">
																
							</div>
						</div>
						<div class="col-lg-8 col-12">
							<div class="form-main">
								<div class="title">
									<h4>Xin chào! Thiên Địa</h4>
									<h3>THÔNG TIN TÀI KHOẢN</h3>
								</div>
								<form class="form" method="post">
									<div class="row">

										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Tên đăng nhập<span>*</span></label>
												<input name="" type="text" placeholder="username">
											</div>
										</div>
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Họ và tên<span>*</span></label>
												<input name="" type="text" placeholder="fullname">
											</div>
										</div>

										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Gmail<span>*</span></label>
												<input name="email" type="email" placeholder="your gmail">
											</div>	
										</div>
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Số điện thoại<span>*</span></label>
												<input name="" type="text" placeholder="phonenumber">
											</div>	
										</div>						
  
										<div class="col-12">
											<div class="form-group message">
												<label>Địa chỉ<span>*</span></label>
												<textarea name="message" placeholder="address"></textarea>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group button">
												<button type="submit" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="btn ">Lưu</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					
					</div>
				</div>
			</div>
	</section>
	
</body>
</html>