<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layoutad/layout::dynamic(~{::title},~{::body})}">

<head>
	<title>Thống kê sản phẩm</title>
</head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<body class="vertical light" ng-app="app" ng-controller="static-ctrl">

	<main role="main" class="main-content" >
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12">
					<div class="row">
						<!-- Striped rows -->
						<div class="col-md-12 my-4">
							<h2 class="h4 mb-1" style="padding-bottom: 20px;">Thống kê sản phẩm</h2>
							<div class="card shadow" >
								<div class="card-body">
									<div class="toolbar row mb-3">
										<div class="col">
										</div>
									</div>
									<!-- table -->
									<table class="table table-bordered table-hover">
										<thead style="background-color: orange;">
											<tr>
												<th style="color: white;text-align: center;font-weight: bold;">TÊN SẢN PHẨM</th>
												<th style="color: white;text-align: center;font-weight: bold;">SỐ LƯỢNG</th>
												<th style="color: white;text-align: center;font-weight: bold;">TỔNG DOANH THU</th>

											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in productspager.findTopSellingProducts">
												<td>{{item.name}}</td>
												<td style="text-align: right;">{{item.totalQuantitySold}}</td>
												<td style="color: orange;font-weight: bold;text-align: right;">{{item.totalRevenue | number :0}} VNĐ</td>

											</tr>
										</tbody>
									</table>
									<nav aria-label="Table Paging" class="mb-0 text-muted">
										<ul class="pagination justify-content-center mb-0" style="cursor: pointer;">
											<li class="page-item"><a class="page-link" ng-click="productspager.prev()">Trang
													sau</a></li>
											<li ng-show="productspager.page != 0" class="page-item"><a class="page-link"
													ng-click="productspager.prev()">{{productspager.page}}</a></li>
											<li class="page-item active"><a class="page-link">{{productspager.page + 1 }}</a>
											</li>
											<li ng-show="pager.page != pager.count - 1" class="page-item"><a
													class="page-link" ng-click="productspager.next()">{{productspager.page + 2}}</a>
											</li>
											<li class="page-item"><a class="page-link" ng-click="productspager.next()">Trang
													trước</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div> <!-- simple table -->
					</div> <!-- end section -->
	</main> <!-- main -->
</body>

</html>