<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layoutad/layout::dynamic(~{::title},~{::body})}">

<head>
	<title>Cập nhật banner</title>

</head>

<body class="vertical light" ng-app="app" ng-controller="banner-ctrl">

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="">
		<div class="">

			<!-- BẮT ĐẦU PHẦN NỘI DUNG CỦA CRUD VOUCHER -->
			<main role="main" class="main-content">
				<div class="container-fluid">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<h3 style="padding-top: 20px;">THÊM XÓA HÌNH ẢNH BANNER</h3>
						<form>
							<div class="form-row justify-content-center">
								<div class="form-group col-md-8">
									<label class="text-center">Ảnh banner (1900x700)</label>

									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroupFileAddon01">Tải lên</span>
										</div>
										<div class="custom-file">
											<input type="file" class="custom-file-input"
												aria-describedby="inputGroupFileAddon01" id="image"
												ng-model="banner_1900x700.image"
												onchange="angular.element(this).scope().imageChangedbanner1900x700(this.files)"
												accept="image/png, image/jpeg">
											<label class="custom-file-label" for="inputGroupFile01">Chọn hình</label>
										</div>
									</div>

									<div style="position: relative; height: 150px; overflow: hidden;">
										<img src="../../images/banner/{{banner_1900x700.image}}" alt=""
											style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">

										<!-- Nút "X" để xóa ảnh -->
										<button class="btn btn-danger btn-sm" ng-click="deleteimageChangedbanner1900x700()"
											style="position: absolute; top: 5px; right: 5px;">X</button>
									</div>

								</div>
							</div>
							<hr>
							<div class="form-row">
								<div class="form-group col-md-4 " style="height: 280px;">
									<label for="">Hình phụ 1 (600x370)</label>
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroupFileAddon01">Tải lên</span>
										</div>
										<div class="custom-file ">
											<input type="file" class="custom-file-input"
												aria-describedby="inputGroupFileAddon01" id="image"
												ng-model="anhphu1_600x370.image"
												onchange="angular.element(this).scope().imageChanged_anhphu1_600x370(this.files)"
												accept="image/png, image/jpeg">
											<label class="custom-file-label" for="inputGroupFile01">Chọn hình</label>
										</div>

									</div>

									<div class="" style="position: relative; height: 200px; overflow: hidden;">
										<img src="../../images/banner/{{anhphu1_600x370.image}}" alt=""
											style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">

										<!-- Nút "X" để xóa ảnh -->
										<button class="btn btn-danger btn-sm" ng-click="deleteimageChanged_anhphu1_600x370()"
											style="position: absolute; top: 5px; right: 5px;">X</button>
									</div>
								</div>


								<div class="form-group col-md-4 " style="height: 280px;">
									<label for="">Hình phụ 2 (600x370)</label>
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroupFileAddon01">Tải lên</span>
										</div>
										<div class="custom-file ">
											<input type="file" class="custom-file-input"
												aria-describedby="inputGroupFileAddon01" id="image"
												ng-model="anhphu2_600x370.image"
												onchange="angular.element(this).scope().imageChanged_anhphu2_600x370(this.files)"
												accept="image/png, image/jpeg">
											<label class="custom-file-label" for="inputGroupFile01">Chọn hình</label>
										</div>

									</div>

									<div class="" style="position: relative; height: 200px; overflow: hidden;">
										<img src="../../images/banner/{{anhphu2_600x370.image}}" alt=""
											style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">

										<!-- Nút "X" để xóa ảnh -->
										<button class="btn btn-danger btn-sm" ng-click="deleteimageChanged_anhphu2_600x370()"
											style="position: absolute; top: 5px; right: 5px;">X</button>
									</div>
								</div>
								<div class="form-group col-md-4 " style="height: 280px;">
									<label for="">Hình phụ 3 (600x370)</label>
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroupFileAddon01">Tải lên</span>
										</div>
										<div class="custom-file ">
											<input type="file" class="custom-file-input"
												aria-describedby="inputGroupFileAddon01" id="image"
												ng-model="anhphu3_600x370.image"
												onchange="angular.element(this).scope().imageChanged_anhphu3_600x370(this.files)"
												accept="image/png, image/jpeg">
											<label class="custom-file-label" for="inputGroupFile01">Chọn hình</label>
										</div>

									</div>

									<div class="" style="position: relative; height: 200px; overflow: hidden;">
										<img src="../../images/banner/{{anhphu3_600x370.image}}" alt=""
											style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">

										<!-- Nút "X" để xóa ảnh -->
										<button class="btn btn-danger btn-sm" ng-click="deleteimageChanged_anhphu3_600x370()"
											style="position: absolute; top: 5px; right: 5px;">X</button>
									</div>
								</div>
							</div>
							<hr>

							<div class="form-row">

								<div class="form-group col-md-6">
									<label for="">Banner 1 (600x370)</label>
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroupFileAddon01">Tải lên</span>
										</div>
										<div class="custom-file">
											<input type="file" class="custom-file-input"
												aria-describedby="inputGroupFileAddon01" id="image"
												ng-model="banner1_600x370.image"
												onchange="angular.element(this).scope().imageChanged_banner1_600x370(this.files)"
												accept="image/png, image/jpeg">
											<label class="custom-file-label" for="inputGroupFile01">Chọn
												hình</label>
										</div>
									</div>
									<div class="" style="position: relative; height: 200px; overflow: hidden;">
										<img src="../../images/banner/{{banner1_600x370.image}}" alt=""
											style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">

										<!-- Nút "X" để xóa ảnh -->
										<button class="btn btn-danger btn-sm" ng-click="deleteimageChanged_banner1_600x370()"
											style="position: absolute; top: 5px; right: 5px;">X</button>
									</div>
								</div>

								<div class="form-group col-md-6">
									<label for="">Banner 2 (600x370)</label>
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroupFileAddon01">Tải lên</span>
										</div>
										<div class="custom-file">
											<input type="file" class="custom-file-input"
												aria-describedby="inputGroupFileAddon01" id="image"
												ng-model="banner2_600x370.image"
												onchange="angular.element(this).scope().imageChanged_banner2_600x370(this.files)"
												accept="image/png, image/jpeg">
											<label class="custom-file-label" for="inputGroupFile01">Chọn
												hình</label>
										</div>
									</div>
									<div class="" style="position: relative; height: 200px; overflow: hidden;">
										<img src="../../images/banner/{{banner2_600x370.image}}" alt=""
											style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">

										<!-- Nút "X" để xóa ảnh -->
										<button class="btn btn-danger btn-sm" ng-click="deleteimageChanged_banner2_600x370()"
											style="position: absolute; top: 5px; right: 5px;">X</button>
									</div>
								</div>

							</div>
							<hr>

							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="">Banner thông tin 1 (370x300)</label>
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroupFileAddon01">Tải lên</span>
										</div>
										<div class="custom-file">
											<input type="file" class="custom-file-input"
												aria-describedby="inputGroupFileAddon01" id="image"
												ng-model="bannerthongtin1_370x300.image"
												onchange="angular.element(this).scope().imageChanged_bannerthongtin1_370x300(this.files)"
												accept="image/png, image/jpeg">
											<label class="custom-file-label" for="inputGroupFile01">Chọn
												hình</label>
										</div>
									</div>

									<div class="" style="position: relative; height: 200px; overflow: hidden;">
										<img src="../../images/banner/{{bannerthongtin1_370x300.image}}" alt=""
											style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">

										<!-- Nút "X" để xóa ảnh -->
										<button class="btn btn-danger btn-sm" ng-click="deleteimageChanged_bannerthongtin1_370x300()"
											style="position: absolute; top: 5px; right: 5px;">X</button>
									</div>

								</div>

								<div class="form-group col-md-4">
									<label for="">Banner thông tin 2 (370x300)</label>
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroupFileAddon01">Tải lên</span>
										</div>
										<div class="custom-file">
											<input type="file" class="custom-file-input"
												aria-describedby="inputGroupFileAddon01" id="image"
												ng-model="bannerthongtin2_370x300.image"
												onchange="angular.element(this).scope().imageChanged_bannerthongtin2_370x300(this.files)"
												accept="image/png, image/jpeg">
											<label class="custom-file-label" for="inputGroupFile01">Chọn
												hình</label>
										</div>
									</div>

									<div class="" style="position: relative; height: 200px; overflow: hidden;">
										<img src="../../images/banner/{{bannerthongtin2_370x300.image}}" alt=""
											style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">

										<!-- Nút "X" để xóa ảnh -->
										<button class="btn btn-danger btn-sm" ng-click="deleteimageChanged_bannerthongtin2_370x300()"
											style="position: absolute; top: 5px; right: 5px;">X</button>
									</div>

								</div>

								<div class="form-group col-md-4">
									<label for="">Banner thông tin 3 (370x300)</label>
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroupFileAddon01">Tải lên</span>
										</div>
										<div class="custom-file">
											<input type="file" class="custom-file-input"
												aria-describedby="inputGroupFileAddon01" id="image"
												ng-model="bannerthongtin3_370x300.image"
												onchange="angular.element(this).scope().imageChanged_bannerthongtin3_370x300(this.files)"
												accept="image/png, image/jpeg">
											<label class="custom-file-label" for="inputGroupFile01">Chọn
												hình</label>
										</div>
									</div>

									<div class="" style="position: relative; height: 200px; overflow: hidden;">
										<img src="../../images/banner/{{bannerthongtin3_370x300.image}}" alt=""
											style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">

										<!-- Nút "X" để xóa ảnh -->
										<button class="btn btn-danger btn-sm" ng-click="deleteimageChanged_bannerthongtin3_370x300()"
											style="position: absolute; top: 5px; right: 5px;">X</button>
									</div>

								</div>
							</div>
							<hr>
						</form>

					</div>
				</div>
			</main> <!-- main -->
		</div> <!-- .container-fluid -->
	</div>


</body>

</html>