<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<!-- Start Footer Area -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
								<a href="index.html"><img src="../../../images/logo_noback.png" alt="#"></a>
							</div>
							<p class="text">Hệ thống bán đồ ăn vặt được giới trẻ săn đón, cảm ơn các khách hàng đã ủng
								hộ trong thời gian qua, chúng tôi sẽ cải tiến từng ngày</p>
							<p class="call">Hotline<span><a href="tel:123456789">+1800 123 456</a></span></p>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Thông tin</h4>
							<ul>
								<li><a href="/about">Về chúng tôi</a></li>
								<li><a href="/policy">Chính sách</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Dịch vụ khách hàng</h4>
							<ul>
								<li><a href="#">Thanh toán</a></li>
								<li><a href="#">Hoàn tiền</a></li>
								<li><a href="#">Trả hàng</a></li>
								<li><a href="#">Giao hàng</a></li>

							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Địa chỉ văn phòng đại diện</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul>
									<li>Số 42 Phường An Khánh, 30 Tháng 4 Quận Ninh Kiều, Thành Phố Cần Thơ.</li>
									
									<li>Email: dav-6@gmail.com</li>
									<li>Hotline: +1800 123 456</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul>
								<li>
									<label for="" style="color: white;font-weight: bold;">Trang facebook shop:</label>
									<a href="https://www.facebook.com/doanvatdav/"><i class="ti-facebook"></i></a></li>
								
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © 2023 <a href="#" target="_blank">DAV-6 TEAM</a> - All Rights Reserved.
								</p>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /End Footer Area -->
</body>

</html>