<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<!-- Header -->
	<header class="header shop">
		<!-- Topbar -->

		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="/"><img src="../../images/logo_noback.png" width="120px"></a>
						</div>
						<!--/ End Logo -->

						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar" style="width: 390px;">
								<form ng-submit="submitForm()">
									<input ng-model="searchKeyword" placeholder="Tìm kiếm sản phẩm..." type="search">
									<button class="btnn"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<!-- Search Form -->

							<div class="sinlge-bar">
								<a th:href="@{/favorites}" class="single-icon"><i class="fa fa-heart-o"
										aria-hidden="true"></i></a>
							</div>



							<div class="sinlge-bar shopping">
								<a href="/cart" class="single-icon"><i class="ti-bag"></i>
									<span class="total-count">{{getTotalItem() }}</span></a>
								<!-- Shopping Item -->
								<div class="shopping-item">
									<div class="dropdown-cart-header">
										<span>{{
											getTotalItem()}} Sản phẩm</span>
										<a href="/cart">Xem ngay</a>
									</div>

									<a style="display: none;" id="username"
										th:if="${#request.remoteUser}">[[${#request.remoteUser}]]</a>

									<ul class="shopping-list">
										<li ng-repeat="cd in cartdetails">
											<a ng-click="deleteid(cd.id)" class="remove" title="Remove this item"><i
													class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img
													src="../../images/products/{{cd.product.image}}" alt="#"></a>
											<h4><a href="#">{{cd.product.name}}</a></h4>
											<p class="quantity">{{cd.quantity}} - <span
													class="amount">{{cd.price}}</span></p>
										</li>
									</ul>
								</div>
								<!--/ End Shopping Item -->
							</div>



						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner" style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						<div class="col-lg-3">
							<div class="all-category nav">

								<li><a ng-click="product()"><i class="fa fa-bars"></i>&nbsp;LOẠI SẢN PHẨM</a>
									<ul style="width: 262px;" class="dropdown">
										<li ng-repeat="c in category"><a ng-click="productcategory(c.id)">{{c.name}}</a>
										</li>
									</ul>
								</li>

							</div>
						</div>

						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">
										<div class="nav-inner">
											<ul class="nav main-menu menu navbar-nav">
												<li class=""><a href="/"><i class="bi bi-house"></i> TRANG CHỦ</a></li>
												<li><a href="#">SẢN PHẨM</a></li>
												<li><a th:href="@{/favorites}" class="single-icon">YÊU THÍCH</a></li>
												<li><a href="#">GIỚI THIỆU</a></li>
												<li><a href="#">CHÍNH SÁCH</a></li>

												<th:block th:unless="${#request.remoteUser}">

													<li><a th:href="@{/auth/login/form}">ĐĂNG NHẬP</a>
													</li>
												</th:block>

												<li>
													<a id="username" th:if="${#request.remoteUser}"><i
															class="bi bi-person-fill"></i> [[${#request.remoteUser}]] <i
															style="color: orange;" class="ti-angle-down"></i></a>
													<ul class="dropdown"
														style="font-family: Arial, Helvetica, sans-serif;">
														<li
															th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}">


															<a th:href="@{/admin}"><i class="bi bi-tools"></i> Công cụ
																quản trị</a>
														</li>
														<li>
															<a th:href="@{/orderuser}"><i class="bi bi-bag"></i> Đơn
																mua</a>
														</li>
														<li>
															<a th:href="@{/auth/profile}"><i
																	class="bi bi-person-lines-fill"></i> Thông tin người
																dùng</a>
														</li>
														<li>
															<a th:href="@{/auth/change-password}"><i
																	class="bi bi-arrow-clockwise"></i> Đổi mật khẩu</a>
														</li>
														<li>
															<a ng-click="logout()" th:href="@{/auth/logout}"><i
																	class="bi bi-box-arrow-left"></i> Đăng xuất</a>
														</li>
													</ul>
												</li>

											</ul>
										</div>
									</div>
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!--/ End Header -->
</body>

</html>