<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<!-- Header -->
	<header class="header shop" >
		<!-- Topbar -->

		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="/"><img src="../../images/logo_noback.png" width="120px"></a>
						</div>
						<!--/ End Logo -->

						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar" style="width: 390px;">
								<form ng-submit="submitForm()">
									<input ng-model="searchKeyword" placeholder="Tìm kiếm sản phẩm..." type="search">
									<button class="btnn"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<!-- Search Form -->
							<div class="sinlge-bar">
								<a th:href="@{/favorites}" class="single-icon"><i class="fa fa-heart-o"
										aria-hidden="true"></i></a>
							</div>

							<!-- Icon User -->
							<div class="sinlge-bar shopping">
								<th:block th:unless="${#request.remoteUser}">
									<a href="#" class="single-icon"><i class="fa fa-user-circle-o"
											aria-hidden="true"></i></a>
								</th:block>

								<a id="username" th:if="${#request.remoteUser}">[[${#request.remoteUser}]]</a>


								<div class="shopping-item">
									<ul class="">
										<!-- Phan quyen tai khoan -->
										<th:block th:unless="${#request.remoteUser}">
											<li>
												<a th:href="@{/auth/login/form}">Đăng nhập</a>
											</li>
											<li>
												<a th:href="@{/auth/register}">Đăng ký</a>
											</li>
											<li>
												<a th:href="@{/auth/forgot-password}">Quên mật khẩu</a>
											</li>
										</th:block>
										<th:block th:if="${#request.remoteUser}">
											<li
												th:if="${#request.isUserInRole('Dire') or #request.isUserInRole('STAF')}">
												<a th:href="@{/admin}">Công cụ quản trị</a>
											</li>
											<li>
												<a th:href="@{/order/list}">Đơn mua</a>
											</li>
											<li>
												<a th:href="@{/auth/change-password}">Đổi mật khẩu</a>
											</li>
											<li>
												<a ng-click="logout()" th:href="@{/auth/logout}">Đăng xuất</a>
											</li>
										</th:block>
										<!-- Ket thuc phan quyen tai khoan -->


									</ul>
								</div>

							</div>
							<!-- Icon User -->

							<div class="sinlge-bar shopping">
								<a href="cart" class="single-icon"><i class="ti-bag"></i> <span class="total-count">{{
										getTotalItem() }}</span></a>
								<!-- Shopping Item -->
								<div class="shopping-item">
									<div class="dropdown-cart-header">
										<span>{{
											getTotalItem()}} Sản phẩm</span>
										<a href="/cart">Xem ngay</a>
									</div>
									<ul class="shopping-list">
										<li ng-repeat="cd in cartdetails">
											<a ng-click="deleteid(cd.id)" class="remove" title="Remove this item"><i
													class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img
													src="../../images/products/{{cd.product.image}}" alt="#"></a>
											<h4><a href="#">{{cd.product.name}}</a></h4>
											<p class="quantity">{{cd.quantity}} - <span
													class="amount">{{cd.price}}</span></p>
										</li>
									</ul>

								</div>
								<!--/ End Shopping Item -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						<div class="col-lg-3">
							<div class="all-category nav">
								<li><a ng-click="product()"><i class="fa fa-bars"
											aria-hidden="true"></i>&nbsp;CATEGORIES</a>
									<ul style="width: 262px;" class="dropdown">
										<li ng-repeat="c in category"><a ng-click="productcategory(c.id)">{{c.name}}</a>
										</li>
									</ul>
								</li>
							</div>
						</div>

						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">
										<div class="nav-inner">
											<ul class="nav main-menu menu navbar-nav">
												<li class="active"><a href="/">Trang chủ</a></li>
												<li><a href="#">Sản phẩm</a></li>
												<li><a href="#">Dịch vụ</a></li>
												<li><a href="#">Cửa hàng<i class="ti-angle-down"></i><span
															class="new">New</span></a>
													<ul class="dropdown">
														<li><a href="shop-grid.html">Shop Grid</a></li>
														<li><a href="cart.html">Cart</a></li>
														<li><a href="checkout.html">Checkout</a></li>
													</ul>
												</li>
												<li><a href="#">Pages</a></li>
												<li><a href="#">Blog<i class="ti-angle-down"></i></a>
													<ul class="dropdown">
														<li><a href="blog-single-sidebar.html">Blog Single Sidebar</a>
														</li>
													</ul>
												</li>
												<li><a href="/contact">Contact Us</a></li>
											</ul>
										</div>
									</div>
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!--/ End Header -->
</body>

</html>