<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layoutad/layout::dynamic(~{::title},~{::body})}">

<head>
	<title>Quản lý tài khoản</title>

</head>

<body class="vertical light" ng-app="app" ng-controller="authority-ctrl">

	<main role="main" class="main-content">

		<div class="row">
			<!-- Small table -->
			<div class="col-md-12 my-4">
				<h2 class="h4 mb-1">QUẢN LÝ PHÂN QUYỀN</h2>
				<p class="mb-3">Công cụ cung cấp và thu hồi quyền tài khoản</p>
				<div class="card shadow">
					<div class="card-body">

						<!-- table -->
						<table class="table table-borderless table-hover">
							<thead>
								<tr>
									<th><strong>Họ và tên</strong></th>
									<th><strong>Tên đăng nhập</strong></th>
									<th style="text-align: center;" ng-repeat="role in roles"><strong>{{role.name}}</strong> </th>

								</tr>
							</thead>
							<tbody>

								<tr ng-repeat="acc in pager.admins">
									<td>{{acc.name}}</td>
									<td>{{acc.username}}</td>
									<th ng-repeat="role in roles" class="align-center text-center">

										<!--<input type="checkbox" ng-checked="authority_of(acc,role)"
											ng-click="set(acc,role)">-->

										<div class="checkbox-wrapper">
											<input type="checkbox" ng-checked="authority_of(acc,role)"
											ng-click="set(acc,role)">
											<svg viewBox="0 0 35.6 35.6">
												<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
												<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
												<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87">
												</polyline>
											</svg>
										</div>


									</th>

								</tr>


							</tbody>
						</table>
						<nav aria-label="Table Paging" class="mb-0 text-muted">
							<ul class="pagination justify-content-center mb-0">
								<li class="page-item"><a class="page-link" ng-click="pager.prev()">Trang sau</a></li>
								<li ng-show="pager.page != 0" class="page-item"><a class="page-link"
										ng-click="pager.prev()">{{pager.page}}</a></li>
								<li class="page-item active"><a class="page-link">{{pager.page + 1 }}</a></li>
								<li ng-show="pager.page != pager.count - 1" class="page-item"><a class="page-link"
										ng-click="pager.next()">{{pager.page + 2}}</a></li>
								<li class="page-item"><a class="page-link" ng-click="pager.next()">Trang trước</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- customized table -->
		</div>
		<!-- end section -->
	</main>
	<!-- main -->




</body>

</html>