<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">

<head>

	<title>Giỏ hàng</title>

</head>

<body class="js">

	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="blog-single.html">Cart</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->

	<!-- Shopping Cart -->
	<div class="shopping-cart section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Shopping Summery -->
					<table class="table shopping-summery">
						<thead>
							<tr class="main-hading">
								<th></th>
								<th>Hình ảnh</th>
								<th>Tên</th>
								<th class="text-center">Giá</th>		
								<th class="text-center">Số lượng</th>
								<th class="text-center">Tổng</th>
								<th class="text-center"><i class="ti-trash remove-icon"></i></th>
							</tr>
						</thead>
						<tbody>

							<tr ng-repeat="item in cartdetails">
								<td> <input ng-model="item.selected" onchange="batdk()" name="cdid"
										ng-change="toggleSelected(item)" type="checkbox">
								</td>
								<td class="image"><img src="../images/products/{{item.product.image}}"
										alt="{{item.image}}"></td>
								<td class="product-des" data-title="Description">
									<p class="product-name"><a href="#">{{item.product.name}}  {{item.weightvalue}}KG</a></p>
									<p class="product-des">{{item.product.discription}}</p>
								</td>
								<td class="price" data-title="Price"><span>{{item.price | number :0}} </span></td>
						
								<td class="qty" data-title="Qty"><!-- Input Order -->
									<div class="input-group">
										<div class="button minus">
											<button ng-click="updatereduce(item,item.quantity)"
												class="btn btn-primary btn-number" data-type="minus"
												data-field="quant[3]">
												<i class="ti-minus"></i>
											</button>
										</div>
										<input readonly type="text" name="quant[3]" class="input-number" data-min="1"
											data-max="100" value="{{item.quantity}}">
										<div class="button plus">
											<button ng-click="updateincrease(item,item.quantity)"
												class="btn btn-primary btn-number" data-type="plus"
												data-field="quant[3]">
												<i class="ti-plus"></i>
											</button>
										</div>
									</div>
									<!--/ End Input Order -->
								</td>
								<td class="total-amount" data-title="Total"><span>{{item.price * item.quantity | number
										:0}} </span></td>
								<td class="action" data-title="Remove"><a ng-click="deleteid(item.id)"><i
											class="ti-trash remove-icon"></i></a></td>
							</tr>
						</tbody>
					</table>
					<!--/ End Shopping Summery -->
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<!-- Total Amount -->
					<div class="total-amount">
						<div class="row">
							<div class="col-lg-8 col-md-5 col-12">
								<div class="left">
									<div class="coupon">
										<form>
											<input type="text" ng-change="giamgia()" ng-model="coupon"
												placeholder="Nhập mã giảm giá">
											<button ng-click="giamgia()" class="btn" id="voucher"
												style="background-color: orange; color: black;" disabled>Áp
												dụng</button>
										</form>
									</div>
									<!--									<div class="checkbox">-->
									<!--										<label class="checkbox-inline" for="2"><input name="news" id="2"-->
									<!--												type="checkbox"> Shipping (+10$)</label>-->
									<!--									</div>-->
								</div>
							</div>
							<div class="col-lg-4 col-md-7 col-12">
								<div class="right">
									<ul>
										<li>Tổng tiền<span>{{totalPrice | number :0}} VNĐ</span></li>
										<!--										<li>Shipping<span>Free</span></li>-->
										<li>Giảm giá<span>{{viewgiamgia | number:0}}</span></li>
										<li class="last">Tổng thanh toán<span>{{total | number:0}}</span></li>
									</ul>
									<div class="button5">

										<a ng-click="purchase()"> <button class="btn"
												id="place-order">Checkout</button></a>
										<a href="#" class="btn">Tiếp tục mua sắm</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/ End Total Amount -->
				</div>
			</div>
		</div>
	</div>
	<!--/ End Shopping Cart -->

	<!-- Start Shop Services Area  -->
	<section class="shop-services section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-rocket"></i>
						<h4>Free shiping</h4>
						<p>Orders over $100</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-reload"></i>
						<h4>Free Return</h4>
						<p>Within 30 days returns</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-lock"></i>
						<h4>Sucure Payment</h4>
						<p>100% secure payment</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-tag"></i>
						<h4>Best Peice</h4>
						<p>Guaranteed price</p>
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Newsletter -->

	<!-- Start Shop Newsletter  -->
	<section class="shop-newsletter section">
		<div class="container">
			<div class="inner-top">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 col-12">
						<!-- Start Newsletter Inner -->
						<div class="inner">
							<h4>Newsletter</h4>
							<p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Your email address" required="" type="email">
								<button class="btn">Subscribe</button>
							</form>
						</div>
						<!-- End Newsletter Inner -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Newsletter -->






	<script>
		function batdk() {
			var checkboxes = document.getElementsByName("cdid");
			var count = 0;
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].checked) {
					count++;
				}
			}
			if (count < 1) {
				document.getElementById("place-order").disabled = true;
				document.getElementById("voucher").disabled = true;

			} else {
				document.getElementById("place-order").disabled = false;
				document.getElementById("voucher").disabled = false;
			}
		}
		batdk();
	</script>
</body>

</html>