<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">

<head>

	<title>Giỏ hàng</title>

</head>

<body class="js" style="font-family: Arial, Helvetica, sans-serif;">

	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="/">Trang chủ<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="/cart">Giỏ hàng</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->
	<div ng-if="!cartdetails || cartdetails.length === 0">
		<!-- Hình ảnh hoặc thông báo khi orderuser rỗng -->
		<img src="../images/khongcodonhang.jpg" alt="Empty Order" />
	</div>
	<!-- Shopping Cart -->
	<div class="shopping-cart section">
		<div class="container">
			<div class="row">
				<div class="col-12">

					<!-- Shopping Summery -->
					<table class="table shopping-summery">
						<thead>
							<tr class="main-hading">
								<th></th>
								<th>Hình ảnh</th>
								<th>Tên sản phẩm</th>
								<th class="text-center">Giá sản phẩm</th>
								<th class="text-center">Số lượng</th>
								<th class="text-center">Tổng tiền</th>
								<th class="text-center"><i class="ti-trash remove-icon"></i></th>
							</tr>
						</thead>
						<tbody>

							<tr ng-repeat="item in cartdetails">


								<td>
									
									

									<input ng-model="item.selected" ng-click="batdk()" name="cdid"
										ng-change="toggleSelected(item)" type="checkbox">
								</td>


								<td class="image"><img src="../images/product/{{item.product.image}}"
										alt="{{item.image}}"></td>
								<td class="product-des" data-title="Description">
									<p class="product-name"><a href="#">{{item.product.name}} {{item.weightvalue}}</a>
									</p>
									<p class="product-des">{{item.product.discription}}</p>
								</td>
								<td class="price" data-title="Price"><span>{{item.price | number :0}} </span></td>

								<td class="qty" data-title="Qty"><!-- Input Order -->
									<div class="input-group">
										<div class="button minus">
											<button ng-click="updatereduce(item,item.quantity)"
												class="btn btn-primary btn-number" data-type="minus"
												data-field="quant[3]">
												<i class="ti-minus"></i>
											</button>
										</div>
										<input readonly type="text" name="quant[3]" class="input-number" data-min="1"
											data-max="100" value="{{item.quantity}}">
										<div class="button plus">
											<button ng-click="updateincrease(item,item.quantity)"
												class="btn btn-primary btn-number" data-type="plus"
												data-field="quant[3]">
												<i class="ti-plus"></i>
											</button>
										</div>
									</div>
									<!--/ End Input Order -->
								</td>
								<td class="total-amount" data-title="Total"><span>{{item.price * item.quantity | number
										:0}} </span></td>
								<td class="action" data-title="Remove"><a ng-click="deleteid(item.id)"><i
											class="ti-trash remove-icon"></i></a></td>
							</tr>
						</tbody>
					</table>
					<!--/ End Shopping Summery -->
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<!-- Total Amount -->
					<div class="total-amount">
						<div class="row">
							<div class="col-lg-8 col-md-5 col-12">
								<div class="left">
									<div class="coupon">
										<form>
											<input type="text" ng-model="coupon" placeholder="Nhập mã giảm giá">
											<button ng-click="giamgia()" class="btn" id="voucher"
												style="background-color: orange; color: white; font-family: Arial, Helvetica, sans-serif;font-weight: bold;"
												disabled>Áp
												dụng</button>
										</form>
									</div>
									<!--									<div class="checkbox">-->
									<!--										<label class="checkbox-inline" for="2"><input name="news" id="2"-->
									<!--												type="checkbox"> Shipping (+10$)</label>-->
									<!--									</div>-->
								</div>
							</div>
							<div class="col-lg-4 col-md-7 col-12">
								<div class="right">
									<ul>
										<li>Tổng tiền<span>{{totalPrice | number :0}} VNĐ</span></li>
										<!--										<li>Shipping<span>Free</span></li>-->
										<li>Giảm giá<span>{{viewgiamgia | number:0}} </span></li>
										<li class="last">Tổng thanh toán<span id="toltalcheckout">{{total | number:0}}
												VNĐ</span></li>
									</ul>
									<div class="button5">

										<a ng-click="dathang()"> <button
												style="background-color: orange; color: white; font-family: Arial, Helvetica, sans-serif;font-weight: bold;"
												class="btn" id="place-order">Đặt
												hàng</button></a>
										<a href="/"
											style="color: white; font-family: Arial, Helvetica, sans-serif;font-weight: bold;"
											class="btn">Tiếp tục mua sắm</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/ End Total Amount -->
				</div>
			</div>
		</div>
	</div>
	<!--/ End Shopping Cart -->

	<!-- Start Shop Services Area  -->
	<section class="shop-services section" style="padding-bottom: 70px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-rocket"></i>
						<h4>Giao hàng giá rẻ</h4>
						<p>Giao động từ 10-30k</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-reload"></i>
						<h4>Hoàn tiền</h4>
						<p>Hư hỏng hoàn tiền</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-lock"></i>
						<h4>Thanh toán</h4>
						<p>Thanh toán bảo mật an toàn</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-tag"></i>
						<h4>giá tốt</h4>
						<p>Giá tốt cạnh tranh</p>
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Newsletter -->



</body>

</html>