<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">

<head>
	<title>Thanh toán</title>

</head>

<body class="js">

	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="/">Trang chủ<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="">Checkout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->

	<!-- Start Checkout -->
	<section class="shop checkout section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-12">
					<div class="checkout-form" style="font-family: Arial, Helvetica, sans-serif;">
						<h2>THANH TOÁN ĐƠN HÀNG</h2>
						<p>Vui lòng điền thông tin nhận hàng và thanh toán</p>
						<!-- Form -->
						<form class="form" method="post" action="#">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<label>Họ và tên<span>*</span></label>
										<input type="text" id="name" name="name" placeholder=""  required="required"
											value="{{account.name}}">
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<label>Số điện thoại<span>*</span></label>
										<input type="number"  id="phone" name="phone" placeholder=""
											value="{{account.phone}}" required="required">
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<label class="form-label" for="province">Tỉnh/Thành
											phố<span>*</span></label>
										<select class="form-select form-control" id="province"></select>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<label class="form-label" for="district">Quận/Huyện<span>*</span></label>
										<select class="form-select form-control" id="district">
											<option value="">Chọn Quận/Huyện</option>
										</select>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<label class="form-label" for="ward">Phường/Xã<span>*</span></label> <select
											class="form-select form-control" id="ward">
											<option value="">Chọn Phường/Xã</option>
										</select>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<label class="form-label" for="servece">Phương thức
											vận chuyển</label> <select class="form-select form-control" id="service">
											<option value="">Phương thức vận chuyển</option>
										</select>
									</div>
								</div>

								<div class="col-lg-12 ">
									<div class="form-group">
										<label>Lời nhắn cho người bán</label>
										<input ng-model="message"  type="text" id="message" name="message" placeholder="">
									</div>
								</div>

							</div>
						</form>
						<!--/ End Form -->
					</div>
				</div>
				<div class="col-lg-4 col-12" style="font-family: Arial, Helvetica, sans-serif;">
					<div class="order-details">
						<!-- Order Widget -->
						<div class="single-widget">
							<h2>Chi tiết tiền đơn hàng</h2>
							<div class="content">
								<ul>
									<li>Tổng tiền<span id="total"> [[${#numbers.formatDecimal(total, 0, 'POINT', 0,
											'POINT').replace('.', ',')}]]
										</span></li>
									<li>(+) Phí ship<span id="ship">{{ship | number:0}}</span></li>
									<li class="last">Thành tiền<span ng-bind="tongtienthanhtoan | number:0"
											id="tongtienthanhtoan">{{tongtienthanhtoan}}</span>
									</li>
								</ul>
							</div>
						</div>
						<!--/ End Order Widget -->
						<!-- Order Widget -->
						<div class="single-widget">
							<h2>Loại thanh toán</h2>
							<div class="content">
								<div class="checkboxnew">
									<label class="checkbox-inline" for="1"><input name="payment" value="1" id="1"
											type="radio" checked>
										Thanh toán khi nhận hàng</label> <br>
									<label class="checkbox-inline" for="2"><input name="payment" value="0" id="2"
											type="radio">
										Thanh toán VNPAY</label> <br>
									<!--									<label class="checkbox-inline" for="3"><input name="payment" value="2" id="3" type="radio">-->
									<!--										PayPal</label>-->
								</div>
							</div>

						</div>

						<!--/ End Order Widget -->
						<!-- Payment Method Widget -->
						<div class="single-widget payement">
							<div class="content">
								<img src="../../images/VNPAY_LOGO.webp" width="100px" alt="#">
							</div>
						</div>
						<!--/ End Payment Method Widget -->
						<!-- Button Widget -->
						<div class="single-widget get-button">
							<div class="content">
								<div class="button">
									<button style="background-color: orange;color: white;font-weight: bold;" ng-click="cbthanhtoan()" class="btn">Thanh toán</button>
								</div>
							</div>
						</div>
						<!--/ End Button Widget -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Checkout -->

		<!-- Start Shop Services Area  -->
		<section class="shop-services section" style="padding-bottom: 70px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-rocket"></i>
							<h4>Giao hàng giá rẻ</h4>
							<p>Giao động từ 10-30k</p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-reload"></i>
							<h4>Hoàn tiền</h4>
							<p>Hư hỏng hoàn tiền</p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-lock"></i>
							<h4>Thanh toán</h4>
							<p>Thanh toán bảo mật an toàn</p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-tag"></i>
							<h4>giá tốt</h4>
							<p>Giá tốt cạnh tranh</p>
						</div>
						<!-- End Single Service -->
					</div>
				</div>
			</div>
		</section>
		<!-- End Shop Newsletter -->


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
		integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script th:src="@{/js/main/API.js}"></script>

</body>

</html>