<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">

<head>
	<title>Đơn hàng </title>
</head>

<body th:object="${order}" class="vertical light" ng-app="app" ng-controller="ctrl">

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- Small table -->
	<div class="col-md-12 my-4">
		<h2 class="h4 mb-1">ĐƠN HÀNG ĐÃ ĐẶT</h2>
		<p class="mb-3">Thông tin các sản phẩm và địa chỉ đơn hàng của bạn</p>
		<div class="card shadow">
			<div class="card-body">
				<div class="toolbar">
					<form class="form">
						<div class="form-row">
							<div class="form-group col-auto mr-auto">
								<b> Thông tin </b>
							</div>
							<div class="form-group col-auto">
								<label for="">Mã hóa đơn:</label>
								<input type="text" th:field="*{id}" class="form-group"> &nbsp;
								<label for="">Họ và tên :</label>
								<input type="text" th:field="*{account.name}" class="form-group"> &nbsp;
								<label for="">Ngày đặt hàng:</label>
								<input type="text" th:field="*{createdate}" class="form-group"> &nbsp;
								<label for="">Địa chỉ giao hàng:</label>
								<input type="text" th:field="*{address}" class=""> &nbsp;
							</div>


						</div>
					</form>
				</div>
				<!-- table -->
				<table class="table table-borderless table-hover">
					<thead>
						<tr>
							<th>Hình ảnh</th>
							<th>Tên sản phẩm</th>
							<th>Đơn giá</th>
							<th>Số lượng</th>
							<th>Khối lượng</th>
							<th>Tổng</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="detail:*{orderdetail}" th:object="${detail}">
							<td>
								<div class="avatar avatar-md">
									<img th:src="@{|/images/products/*{product.image}|}" style="width: 70px;"
										class="avatar-img ">
								</div>
							</td>
							<td>
								<p class="mb-0 text-muted"><strong>[[*{product.name}]]</strong></p>

							</td>
							<td>
								<p class="mb-0 text-muted">[[*{#numbers.formatDecimal(price,0,'COMMA',0,'POINT')}]]</p>

							</td>
							<td>
								<p class="mb-0 text-muted">[[*{quantity}]]</p>

							</td>
							<td>
								<p class="mb-0 text-muted">[[*{weight}]]</p>

							</td>

							<td>
								<p class="mb-0 text-muted">
									[[*{#numbers.formatDecimal(price*quantity,0,'COMMA',0,'POINT')}]]</p>
							</td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>
	</div> <!-- customized table -->



</body>

</html>