<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layoutad/layout::dynamic(~{::title},~{::body})}">

<head>
	<title>Quản lý đơn hàng</title>
</head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<body class="vertical light" ng-app="app" ng-controller="order-ctrl">

	<main role="main" class="main-content">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12">
					<div class="row">
						<div class="col-md-6 col-xl-3 mb-4">
							<div class="card shadow bg-primary text-white border-0">
								<div class="card-body">

									<div class="row align-items-center">
										<div class="col-3 text-center">
											<span class="circle circle-sm bg-primary-light">
												<i class="fe fe-16 fe-check"></i>
											</span>
										</div>
										<div class="col pr-0">
											<p class="small mb-0">Chờ xác nhận</p>
											<div class="row align-items-center no-gutters">
												<div class="col-auto">
													<span class="h3 mr-2 mb-0 text-white">{{list[0]}}</span>
												</div>
												<a ng-click="trangthai(1)" style="color: white;">Xem chi tiết</a>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="col-md-6 col-xl-3 mb-4">
							<div class="card shadow bg-success border-0">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-3 text-center ">
											<span class="circle circle-sm bg-primary-light">
												<i class="fe fe-16 bi bi-truck text-white"></i>
											</span>
										</div>
										<div class="col">
											<p class="small mb-0 text-white">Đang giao</p>
											<div class="row align-items-center no-gutters">
												<div class="col-auto">
													<span class="h3 mr-2 mb-0 text-white"> {{list[1]}} </span>
												</div>
												<a ng-click="trangthai(2)" style="color: white;">Xem chi tiết</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-xl-3 mb-4">
							<div class="card shadow bg-info border-0">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-3 text-center">
											<span class="circle circle-sm bg-primary">
												<i class=" fe fe-16 bi bi-check-all text-white"></i>
											</span>
										</div>
										<div class="col">
											<p class="small mb-0 text-white">Đã giao thành công</p>
											<div class="row align-items-center no-gutters">
												<div class="col-auto">
													<span class="h3 mr-2 mb-0 text-white"> {{list[2]}} </span>
												</div>
												<a ng-click="trangthai(3)" class="text-white">Xem chi tiết</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-xl-3 mb-4">
							<div class="card shadow bg-danger border-0">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-3 text-center">
											<span class="circle circle-sm bg-primary">
												<i class="fe fe-16 bi text-white bi-x-lg"></i>
											</span>
										</div>
										<div class="col">
											<p class="small text-white mb-0">Đơn hủy</p>
											<div class="row align-items-center no-gutters">
												<div class="col-auto">
													<span class="h3 mr-2 mb-0 text-white"> {{list[3]}} </span>
												</div>
												<a ng-click="trangthai(4)" class="text-white">Xem chi tiết</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end section -->


					<div class="row">
						<!-- Striped rows -->
						<div class="col-md-12 my-4">
							<h2 class="h4 mb-1">Danh sách tất cả đơn hàng</h2>
							<p class="mb-4">Bao gồm đang chờ xác nhận, đang giao và đã hủy & trả hàng</p>
							<div class="card shadow">
								<div class="card-body">
									<div class="toolbar row mb-3">
										<div class="col">
											<form class="form-inline">
												<div class="form-row">
													<div class="form-group col-auto">
														<label for="search" class="sr-only">Tìm kiếm</label>
														<input type="text" class="form-control" id="search" value=""
															placeholder="Tìm kiếm...">
													</div>
													
												</div>
											</form>
										</div>
										<div class="col ml-auto">
											<div class="dropdown float-right">

												<button class="btn btn-secondary dropdown-toggle" type="button"
													id="actionMenuButton" data-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false"> Công cụ </button>
												<div class="dropdown-menu" aria-labelledby="actionMenuButton">
													<a class="dropdown-item" href="#">Xuất excel</a>
													<a class="dropdown-item" href="#">Xuất PDF</a>
												</div>
											</div>
										</div>
									</div>
									<!-- table -->
									<table class="table table-bordered" style="font-size: 13px;">
										<thead>
											<tr>
												<th colspan="2">Thông tin người đặt</th>
												<th colspan="4">Thông tin giao hàng</th>
												<th colspan="4">Xử lý đơn</th>
											</tr>
											<tr>
												<th style="width: 15%;">Người đặt</th>
												<th style="width: 8%;">Ngày mua</th>
												<th style="width: 6%;">Tổng tiền</th>
												<th style="width: 6%;">Phí vận chuyển</th>
												<th>Địa chỉ</th>
												<th>Mã voucher</th>
												<th>Trạng thái đơn hàng</th>
												<th>Trạng thái thanh toán</th>
												<th style="width: 10%;">Xem chi tiết</th>
												<th>Công cụ</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in pager.orderlist">
												<td>{{item.account.name}}</td>
												<td>{{item.createdate}}</td>
												<td>{{item.totalamount}}</td>
												<td>{{item.ship}}</td>
												<td>{{item.address}}</td>
												<td>{{item.voucher.id}}</td>
												<td>
													<span style="color: white;font-weight: bold;"
														ng-if="item.status.id === 1"
														class="badge badge-primary">{{item.status.name}}</span>
													<span style="color: white;font-weight: bold;"
														ng-if="item.status.id === 2"
														class="badge badge-success">{{item.status.name}}</span>
													<span style="color: white;font-weight: bold;"
														ng-if="item.status.id === 3"
														class="badge badge-info">{{item.status.name}}</span>
													<span style="color: white;font-weight: bold;"
														ng-if="item.status.id === 4"
														class="badge badge-danger">{{item.status.name}}</span>
												</td>
												<td>
													{{ item.statusorder ? 'Đã thanh toán' : 'Chưa thanh toán' }}
												</td>
												<td><a href="javascript:void(0)" ng-click="showOrderDetail(item.id)">Xem
														chi tiết</a></td>

												<td>

													<button style="color: white;font-weight: bold;"
														ng-if="item.status.id === 1" ng-click="changeStatus(item.id, 2)"
														class="btn btn-primary my-2"><i class="bi bi-truck"></i> Vận
														chuyển</button>

													<button style="color: white;font-weight: bold;"
														ng-if="item.status.id === 1" ng-click="changeStatus(item.id, 4)"
														class="btn btn-danger bg-danger"><i class="bi bi-x-circle"></i>
														Hủy đơn</button>

													<button style="color: white;font-weight: bold;"
														ng-if="item.status.id === 2" ng-click="changeStatus(item.id, 3)"
														class="btn btn-success bg-success"><i
															class="bi bi-check2-circle"></i> Hoàn thành</button>
												</td>
											</tr>
										</tbody>
									</table>
									<nav aria-label="Table Paging" class="mb-0 text-muted">
										<ul class="pagination justify-content-center mb-0">
											<li class="page-item"><a class="page-link"
													ng-click="pager.prev()">Previous</a></li>
											<li class="page-item"><a class="page-link">{{pager.page}}</a></li>
											<li class="page-item active"><a class="page-link">{{pager.page + 1 }}</a>
											</li>
											<li class="page-item"><a class="page-link">{{pager.page + 2}}</a></li>
											<li class="page-item"><a class="page-link" ng-click="pager.next()">Next</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div> <!-- simple table -->
					</div> <!-- end section -->


	</main> <!-- main -->
	<!-- 				Chi tiết đơn hàng-->
	<div class="modal fade" id="orderDetailModal" tabindex="-1" role="dialog" aria-labelledby="orderDetailModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="orderDetailModalLabel">
						Detail</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="data-tables table table-striped table-bordered" style="width: 100%">
						<thead>
							<tr>
								<th style="width: 20%">Hình ảnh</th>
								<th style="width: 40%">Tên sản phẩm</th>
								<th style="width: 20%">Giá</th>
								<th style="width: 20%">Số lượng</th>
								<th style="width: 20%">Khối lượng</th>
								<th style="width: 20%">Tổng</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="orderDetail in selectedOrderDetails">
								<td><img src="/images/product/{{orderDetail.product.image}}" alt=""
										style="width: 100px"></td>
								<td>{{ orderDetail.product.name }}</td>
								<td>{{ orderDetail.price |number :0}}</td>
								<td>{{ orderDetail.quantity }}</td>
								<td>{{ orderDetail.weight}}</td>
								<td>{{ orderDetail.quantity*orderDetail.price |number :0 }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" ng-click="closeModal()">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>