<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layoutad/layout::dynamic(~{::title},~{::body})}">

<head>
	<title>Voucher</title>

</head>

<body class="vertical light" ng-app="app" ng-controller="voucher-ctrl">

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="">
		<div >

			<!-- BẮT ĐẦU PHẦN NỘI DUNG CỦA CRUD VOUCHER -->
			<main role="main" class="main-content">
				<div class="container-fluid">

					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
								role="tab" aria-controls="nav-home" aria-selected="true">Chỉnh sửa</a>
							<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
								role="tab" aria-controls="nav-profile" aria-selected="false">Danh sách</a>

						</div>
					</nav>

					<div class="tab-content" id="nav-tabContent">


						<div class="tab-pane fade show active" id="nav-home" role="tabpanel"
							aria-labelledby="nav-home-tab">

							<!-- BẮT ĐẦU NỘI DUNG CRUD Voucherrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr -->

							<!-- BẮT ĐẦU NỘI DUNG CRUD Voucherrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr -->
							<div class="row justify-content-center" style="padding: 10px;">
								<div class="col-8">
									<div class="row" style="border: 1px solid;border-radius:0px 5px 5px 0px;">

										<div class="col-lg-4 bg-warning row justify-content-center"
											style="border-right: 4px dashed #000;">
											<h3 style="color: rgb(255, 255, 255);text-align: center;">
												<img src="../../images/logo_noback.png" width="170px" alt=""><br>
												ĐỒ ĂN VẶT
												</h3>

												<div style="color: 10px; color: white;">
												<p id="showNgayBatDau" style="text-align:center;">Ngày bắt đầu: 01/01/yyyy</p>
												<p id="showNgayHetHan" style="text-align:center;">Ngày hết hạn: 01/01/yyyy</p>
												</div>
										</div>

										<div class="col-lg-8" style="text-align: center;">

											<h4 style="font-size: 50px;padding-top: 20px;">VOUCHER
											</h4>

												<div class="col-lg-12 justify-content-center" >
												<p id="showTengiamgia"
												style=" font-size: 30px;color: orange; font-weight: bold; text-align: center;">
												NỘI DUNG CHƯƠNG TRÌNH</p>	
												</div>
												
												<div class="col-lg-12 justify-content-center" >
												<p id="showGiaTriGiam"
												style=" font-size: 16px;color: orange; font-weight: bold;">
												GIẢM GIÁ 00% </p>
												</div>
												
												<div class="col-lg-12 justify-content-center" >
												<p id="showMagiamgia"
												style="font-size: 16px;
												color: orange;
												font-weight: bold;
												border: 2px solid;
												padding: 5px;
												border-radius: 3px;
												color: darkgreen;
												">
												MÃ GIẢM GIÁ</p>
												</div>
	
											

										</div>

									</div>

								</div>

								<div class="col-12" style="padding: 20px;">

									<p class="card-text" style="text-align: center;">
										----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
									</p>
									<h2 class="mb-2 page-title">CHỈNH SỬA VOUCHER</h2>
									<div class="row my-4">
										<!-- Small table -->
										<div class="col-md-12">
											<div class="card shadow">
												<div class="card-body">


													<form>
														<div class="form-row">
															<div class="form-group col-md-6">
																<label for="">Mã voucher</label>
																<input type="text" class="form-control"
																 oninput="document.getElementById('showMagiamgia').textContent = this.value || 'MÃ GIẢM GIÁ';"
																id="" ng-model="form.id">
															</div>
															
															<div class="form-group col-md-6">
																<label for="">Tên voucher</label>
																<input type="text" class="form-control"
																 oninput="document.getElementById('showTengiamgia').textContent = this.value || 'TEN GIẢM GIÁ';"
																id="" ng-model="form.name">
															</div>
														</div>
														
														
														<div class="form-row">
															<div class="form-group col-md-6">
																<label for="">Thời gian áp dụng</label>
																<input type="date" class="form-control"
																ng-model="form.startdate"
																	oninput="document.getElementById('showNgayBatDau').textContent = 'Ngày bắt đầu: ' + (this.value ? new Date(this.value).toLocaleDateString('vi-VN') : '');">
															</div>
															<div class="form-group col-md-6">
																<label for="">Thời gian hết hạn</label>
																<input type="date" class="form-control"
																ng-model="form.enddate"
																	id="" oninput="document.getElementById('showNgayHetHan').textContent = 'Ngày hết hạn: ' + (this.value ? new Date(this.value).toLocaleDateString('vi-VN') : '');">
															</div>
														</div>
														<div class="form-row">
															<div class="form-group col-md-6">
																<label for="">Giá trị giảm (%)</label>
																<input type="text" class="form-control"
																ng-model="form.discount"
																 oninput="document.getElementById('showGiaTriGiam').textContent = this.value ? 'Giảm giá ' + this.value + '%' : 'Giảm giá';"
																id="">
															</div>
															
														</div>
														
														
														<button style="color: white; font-weight: bold;" type="submit" ng-click="create()" ng-hide="index == -1" class="btn btn-success">Thêm</button>
														<button style="color: white; font-weight: bold;" type="submit" ng-click="update()" ng-show="index == -1" class="btn btn-warning">Cập nhật</button>
														<button style="color: white; font-weight: bold;" type="submit" ng-click="delete(form)" ng-show="index == -1" class="btn btn-danger">Xóa</button>
														<button style="color: white; font-weight: bold;" type="submit" ng-click="reset()" class="btn btn-primary">Reset</button>
													
													</form>

												</div>
											</div>
										</div> <!-- simple table -->
									</div> <!-- end section -->
								</div> <!-- .col-12 -->
							</div> <!-- .row -->

							<!-- KẾT THÚC NỘI DUNG CRUD Voucherrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr -->

						</div>

						<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

						<div class="row justify-content-center">

								<div class="col-12" style="padding-top: 20px;">
									<h2 class="mb-2 page-title">DANH SÁCH VOUCHER</h2>
									
									<div class="row my-4">
										<!-- Small table -->
										<div class="col-md-12">
											<div class="card shadow">
												<div class="card-body">
													<!-- table -->
													<table class="table datatables table-hover" id="dataTable-1">
														<thead>
															
															<tr>
																
																<th><strong>Mã voucher</strong> </th>
																<th><strong>Tên voucher</strong></th>
																<th><strong>Giảm (%)</strong></th>
																<th><strong>Ngày bắt đầu</strong></th>
																<th><strong>Ngày hết hạn</strong></th>
																<th><strong>Thao tác</strong></th>
															</tr>
															
														</thead>
														<tbody>
															
															<tr ng-repeat="item in pager.items">
																<td>{{item.id}}</td>
																<td>{{item.name}}</td>
																<td>{{item.discount}}</td>
																<td>{{item.startdate | date:'dd/MM/yyyy'}}</td>
																<td>{{item.enddate | date : 'dd/MM/yyyy'}}</td>
																<td>
																
																	
																		<button class="btn btn-warning" href="#" ng-click="edit(item)" style="color: white;font-weight: bold;">Sửa</button>
																		<button class="btn btn-danger" href="#" ng-click="delete(item)" style="color: white;font-weight: bold;">Xóa</button>
																	
																</td>
															</tr>
															
															

														</tbody>
													</table>
												</div>
											</div>
										</div> <!-- simple table -->
									</div> <!-- end section -->
								</div> <!-- .col-12 -->


							</div> <!-- .row -->

							<!--  KẾT THÚC BẮT ĐẦU NỘI DUNG CRUD Voucherrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr -->
						</div>



						<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">3
						</div>
					</div>


				</div>
			</main> <!-- main -->
		</div> <!-- .container-fluid -->


	

	</div>







</body>

</html>