<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">

<head>
	<title>Yêu thích</title>
</head>

<body class="js">
	<section class="blog-single section">
			<div class="" style="padding-left: 40px;">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="blog-single-main">
							<div class="row">
								<div class="col-12">
									<div class="image">
										<img src="https://via.placeholder.com/950x460" alt="#">
									</div>
									<div class="blog-detail">
										<h2 class="blog-title">Khô bò 1.5 KG</h2>
										
										 
										
										<div class="content">
											<p>Khô bò thơm ngon được làm 100% từ bột và thịt heo chết bệnh lỡ mồm long móng.</p>
											<button class="btn btn-primary sm-lg"  style="border-radius: 10px;background-color: rgb(244, 222, 59);color: #000; font-weight: bold; border-color:  rgb(244, 222, 59) ;">1.5 KG</button> 
											<button class="btn btn-primary sm-lg"  style="border-radius: 10px;background-color: rgb(238, 47, 47);color: #ffffff; font-weight: bold; border-color:  rgb(238, 47, 47) ;">2.5 KG</button>
											<button class="btn btn-primary sm-lg"  style="border-radius: 10px;background-color: rgb(43, 152, 33);color: #ffffff; font-weight: bold; border-color:  rgb(43, 152, 33) ;">3.0 KG</button><br>
										</div>
										<br>
										<div>
										<button class="btn btn-primary" style="border-radius: 10px;background-color: rgb(244, 222, 59);color: #000; font-weight: bold; border-color:  rgb(244, 222, 59) ;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Thêm vào giỏ hàng</button>
										<button class="btn btn-success" style="border-radius: 10px;background-color: rgb(231, 35, 35); color: #ffffff; font-weight: bold;border-color:  rgb(231, 35, 35) ;"><i class="fa fa-heart" aria-hidden="true"></i> Thêm vào yêu thích</button>
										<button class="btn btn-success" style="border-radius: 10px;background-color: rgb(138, 135, 110); color: #000; font-weight: bold;border-color:  rgb(138, 135, 110) ;"><i class="fa fa-share" aria-hidden="true"></i> Chia sẽ</button>
										</div>
									</div>
									
									
								</div>
								<div class="col-12" style="padding-top: 10px;">			
									<div class="reply">
										<div class="reply-head" style="padding-top: 10px;">
											<h2 class="reply-title">Đánh giá</h2>
											<!-- Comment Form -->
											<form class="form" action="#" style="padding-top: 10px;padding-left: 10px;">
												<div class="row">
													
													<div class="col-12">
														<div class="form-group">
															<label>Đánh giá sản phẩm<span>*</span></label> <br>
															Chọn sao:
															<img src="../../images/star.gif" width="30px"> 
															<img src="../../images/star.gif" width="30px"> 
															<img src="../../images/star.gif" width="30px"> 
															<img src="../../images/star.gif" width="30px"> 
															<img src="../../images/star.gif" width="30px"> 
															<textarea name="message" placeholder=""></textarea>
														</div>
													</div>
													<div class="col-12">
														<div class="form-group button">
															<button type="submit" class="btn">Đánh giá</button>
														</div>
													</div>
												</div>
											</form>
											<!-- End Comment Form -->
										</div>
									</div>			
								</div>	
								<div class="share-social" style="padding-left: 20px;">
									<div class="row">
										<div class="col-12">
											<div class="content-tags">
												<h3 style="color: orange;">4.9 trên 5<br>
													<img src="../../images/star.gif" width="30px"> 
													<img src="../../images/star.gif" width="30px"> 
													<img src="../../images/star.gif" width="30px"> 
													<img src="../../images/star.gif" width="30px"> 
													<img src="../../images/star.gif" width="30px"> 

												</h3>
												
												<ul class="tag-inner" style="padding-top: 10px; padding-left: 10px; font-size: 10px;">
													<li><a href="#">Tất cả</a></li>
													<li><a href="#">1.5kg</a></li>
													<li><a href="#">2.5kg</a></li>
													<li><a href="#">3.0 kg</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="comments">
										<h3 class="comment-title">Các lượt đánh giá</h3>
										<!-- Single Comment -->
										<div class="single-comment">
											<img style="height: 70px;
											width: 70px;
											border-radius: 100%;
											position: absolute;
											left: 0;" src="https://via.placeholder.com/80x80">
											<div class="content">
												
												<h4>Nhật Linh <br>
												<img src="../../images/star_2.png" width="20px">	
												<img src="../../images/star_2.png" width="20px">	
												<img src="../../images/star_2.png" width="20px">	
												<img src="../../images/star_2.png" width="20px">	
												<img src="../../images/star_2.png" width="20px">	
												<span>11-09-2023 19:58 | Phân loại hàng: 2.5kg</span></h4>
												
												<p>Ăn như ăn bánh xe, cay thì như giả tạo, nhưng con gái chủ shop xinh nên 5 sao.</p>
												
												<div class="button">
													<a href="#" class="btn"><i class="fa fa-reply" aria-hidden="true"></i>Trả lời</a>
												</div>
											</div>
										</div>
										<!-- End Single Comment -->
										<!-- Single Comment -->
										<div class="single-comment left">
											<img style="height: 70px;
											width: 70px;
											border-radius: 100%;
											position: absolute;
											left: 0;" src="https://via.placeholder.com/80x80" alt="#">
											<div class="content">
												<h4>DAV-6 <span>11-09-2023 20:02 </span></h4>
												<p>Em cảm ơn ạ!.</p>
												
											</div>
										</div>
										<!-- End Single Comment -->

										<!-- Single Comment -->
										<div class="single-comment">
											<img style="height: 70px;
											width: 70px;
											border-radius: 100%;
											position: absolute;
											left: 0;" src="https://via.placeholder.com/80x80">
											<div class="content">
												
												<h4>Tiến Hoàng<br>
												<img src="images/star_2.png" width="20px" alt="">	
												<img src="images/star_3.png" width="20px" alt="">
												<img src="images/star_3.png" width="20px" alt="">
												<img src="images/star_3.png" width="20px" alt="">	
												<img src="images/star_3.png" width="20px" alt="">		
												<span>10-09-2023 12:24 | Phân loại hàng: 2.0kg</span></h4>
												
												<p>Như cức.</p>
												
												<div class="button">
													<a href="#" class="btn"><i class="fa fa-reply" aria-hidden="true"></i>Trả lời</a>
												</div>
											</div>
										</div>
										<!-- End Single Comment -->
										<!-- Single Comment -->
										<div class="single-comment left">
											<img style="height: 70px;
											width: 70px;
											border-radius: 100%;
											position: absolute;
											left: 0;" src="https://via.placeholder.com/80x80" alt="#">
											<div class="content">
												<h4>DAV-6 <span>10-09-2023 1:09 </span></h4>
												<p>Dạ cho em xin STK em bank trả lại tiền ạ, rất mong anh Tiến bỏ qua<3.</p>
												
											</div>
										</div>
										<!-- End Single Comment -->
									</div>									
								</div>											
										
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="main-sidebar">
							
							<!-- Single Widget -->
							<div class="single-widget recent-post">
								<h3 class="title">Các sản phẩm tương tự</h3>

								<!-- Bắt đầu khu vực sản phẩm tương tự -->
								<div class="single-post">
									<div class="image">
										<img src="https://via.placeholder.com/100x100" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Bánh mực giả</a></h5>
										<ul class="comment">
											<li style="color: orange; font-weight: bold;">250.000 VNĐ</li>
											<li>Đã mua 350</li>
										</ul>
									</div>
								</div>
								<!-- Kết thúc khu vực sản phẩm tương tự -->
								
								<!-- Bắt đầu khu vực sản phẩm tương tự -->
								<div class="single-post">
									<div class="image">
										<img src="https://via.placeholder.com/100x100" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Bánh mực giả</a></h5>
										<ul class="comment">
											<li style="color: orange; font-weight: bold;">250.000 VNĐ</li>
											<li>Đã mua 350</li>
										</ul>
									</div>
								</div>
								<!-- Kết thúc khu vực sản phẩm tương tự -->

								<!-- Bắt đầu khu vực sản phẩm tương tự -->
								<div class="single-post">
									<div class="image">
										<img src="https://via.placeholder.com/100x100" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Bánh mực giả</a></h5>
										<ul class="comment">
											<li style="color: orange; font-weight: bold;">250.000 VNĐ</li>
											<li>Đã mua 350</li>
										</ul>
									</div>
								</div>
								<!-- Kết thúc khu vực sản phẩm tương tự -->
								
									<!-- Bắt đầu khu vực sản phẩm tương tự -->
									<div class="single-post">
										<div class="image">
											<img src="https://via.placeholder.com/100x100" alt="#">
										</div>
										<div class="content">
											<h5><a href="#">Bánh mực giả</a></h5>
											<ul class="comment">
												<li style="color: orange; font-weight: bold;">250.000 VNĐ</li>
												<li>Đã mua 350</li>
											</ul>
										</div>
									</div>
									<!-- Kết thúc khu vực sản phẩm tương tự -->

										<!-- Bắt đầu khu vực sản phẩm tương tự -->
								<div class="single-post">
									<div class="image">
										<img src="https://via.placeholder.com/100x100" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Bánh mực giả</a></h5>
										<ul class="comment">
											<li style="color: orange; font-weight: bold;">250.000 VNĐ</li>
											<li>Đã mua 350</li>
										</ul>
									</div>
								</div>
								<!-- Kết thúc khu vực sản phẩm tương tự -->

									<!-- Bắt đầu khu vực sản phẩm tương tự -->
									<div class="single-post">
										<div class="image">
											<img src="https://via.placeholder.com/100x100" alt="#">
										</div>
										<div class="content">
											<h5><a href="#">Bánh mực giả</a></h5>
											<ul class="comment">
												<li style="color: orange; font-weight: bold;">250.000 VNĐ</li>
												<li>Đã mua 350</li>
											</ul>
										</div>
									</div>
									<!-- Kết thúc khu vực sản phẩm tương tự -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
</body>

</html>