<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layoutad/layout::dynamic(~{::title},~{::body})}">

<head>
	<title>Quản lý đánh giá</title>

</head>

<body class="vertical light" ng-app="app" ng-controller="evaluate-ctrl">

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="">
		<div>

			<!-- BẮT ĐẦU PHẦN NỘI DUNG CỦA CRUD QL ĐÁNH GIÁ -->
			<main role="main" class="main-content">
				<div class="container-fluid">
					<div class="row justify-content-center">
						<div class="col-12" style="padding-top: 20px;">
							<h2 class="mb-2 page-title">DANH SÁCH ĐÁNH GIÁ</h2>
							<div class="row my-4">
								<!-- Small table -->
								<div class="col-md-12">
									<div class="card shadow">
										<div class="card-body">
											<!-- table -->
											<table class="table datatables table-hover" id="dataTable-1">
												<select ng-model="star" ng-change="getSelectedStar()">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
												<thead>
													<tr>
														<th>TÊN TÀI KHOẢN</th>

														<th>NGÀY ĐÁNH GIÁ</th>
														<th>TÊN SẢN PHẨM</th>
														<th>SỐ SAO ĐÁNH GIÁ</th>
														<th>TRẠNG THÁI</th>
														<th>CHI TIẾT</th>
														<th>CÔNG CỤ</th>
													</tr>

												</thead>
												<tbody>
													<tr ng-repeat="item in pager.items">
														<td>{{item.account.name}}</td>
														<td>{{item.commentdate}}</td>
														<td>{{item.product.name}}</td>
														<div>
															<td ng-if="item.star==1">
																<img src="../images/star_2.png" width="20px" alt="">
																<img src="../images/star_3.png" width="20px" alt="">
																<img src="../images/star_3.png" width="20px" alt="">
																<img src="../images/star_3.png" width="20px" alt="">
																<img src="../images/star_3.png" width="20px" alt="">
															</td>
														</div>

														<td ng-if="item.star==2">
															<img src="../images/star_2.png" width="20px" alt="">
															<img src="../images/star_2.png" width="20px" alt="">
															<img src="../images/star_3.png" width="20px" alt="">
															<img src="../images/star_3.png" width="20px" alt="">
															<img src="../images/star_3.png" width="20px" alt="">
														</td>


														<td ng-if="item.star==3">
															<img src="../images/star_2.png" width="20px" alt="">
															<img src="../images/star_2.png" width="20px" alt="">
															<img src="../images/star_2.png" width="20px" alt="">
															<img src="../images/star_3.png" width="20px" alt="">
															<img src="../images/star_3.png" width="20px" alt="">
														</td>


														<td ng-if="item.star==4">
															<img src="../images/star_2.png" width="20px" alt="">
															<img src="../images/star_2.png" width="20px" alt="">
															<img src="../images/star_2.png" width="20px" alt="">
															<img src="../images/star_2.png" width="20px" alt="">
															<img src="../images/star_3.png" width="20px" alt="">
														</td>


														<td ng-if="item.star==5">
															<img src="../images/star_2.png" width="20px" alt="">
															<img src="../images/star_2.png" width="20px" alt="">
															<img src="../images/star_2.png" width="20px" alt="">
															<img src="../images/star_2.png" width="20px" alt="">
															<img src="../images/star_2.png" width="20px" alt="">
														</td>

														<td>{{item.status ? 'Hiển thị' : 'Không hoạt động'}}</td>
														<td>
															<!-- Button trigger modal -->
															<a ng-click="edit(item)" style="cursor: pointer;"
																data-toggle="modal" data-target="#exampleModal">
																Xem chi tiết
															</a>

															<!-- Modal -->
															<div class="modal fade" id="exampleModal" tabindex="-1"
																role="dialog" aria-labelledby="exampleModalLabel"
																aria-hidden="true">
																<div class="modal-dialog" role="document">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h5 class="modal-title"
																				id="exampleModalLabel">Chi tiết đánh giá
																			</h5>
																			<button type="button" class="close"
																				data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																			</button>
																		</div>
																		<div class="modal-body">
																			<div class="row">
																				<div class="col">
																					<div class="form-group">
																						<label for="">Tên tài
																							khoản:</label>
																						<input type="text"
																							ng-model="form.account.username"
																							class="form-control">
																					</div>
																				</div>
																				<div class="col">
																					<div class="form-group">
																						<label for="">Họ và tên:</label>
																						<input type="text"
																							ng-model="form.account.name"
																							class="form-control">
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col">
																					<div class="form-group">
																						<label for="">Ngày đánh
																							giá:</label>
																						<input
																							ng-model="form.commentdate"
																							type="text"
																							class="form-control">
																					</div>
																				</div>
																				<div class="col">
																					<div class="form-group">
																						<label for="">Tên sản phẩm đánh
																							giá:</label>
																						<input type="text"
																							ng-model="form.product.name"
																							class="form-control">
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col">
																					<div class="form-group">
																						<label for="">Số sao đánh
																							giá:</label>
																						<div ng-if="form.star==1">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_3.png"
																								width="30px" alt="">
																							<img src="../images/star_3.png"
																								width="30px" alt="">
																							<img src="../images/star_3.png"
																								width="30px" alt="">
																							<img src="../images/star_3.png"
																								width="30px" alt="">
																						</div>
																						<div ng-if="form.star==2">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_3.png"
																								width="30px" alt="">
																							<img src="../images/star_3.png"
																								width="30px" alt="">
																							<img src="../images/star_3.png"
																								width="30px" alt="">
																						</div>
																						<div ng-if="form.star==3">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_3.png"
																								width="30px" alt="">
																							<img src="../images/star_3.png"
																								width="30px" alt="">
																						</div>
																						<div ng-if="form.star==3">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_3.png"
																								width="30px" alt="">
																							<img src="../images/star_3.png"
																								width="30px" alt="">
																						</div>
																						<div ng-if="form.star==4">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_3.png"
																								width="30px" alt="">
																						</div>
																						<div ng-if="form.star==5">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																							<img src="../images/star_2.png"
																								width="30px" alt="">
																						</div>
																					</div>
																				</div>
																				<div class="col">
																					<div class="form-group">
																						<label for="">Email:</label>
																						<input type="text"
																							ng-model="form.account.email"
																							class="form-control">
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col">
																					<div class="form-group">
																						<label for="">Nội dung đánh
																							giá:</label>
																						<textarea
																							ng-model="form.comment"
																							class="form-control" name=""
																							id="" cols="10"
																							rows="3"></textarea>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</td>
														<td>


															<button ng-if="item.status==true"
																ng-click="updateevaluatean(item)" class="btn btn-danger"
																style="color: white;font-weight: bold;"><i
																	class="bi bi-eye-slash"></i> Ẩn</button>
															<button ng-if="item.status==false"
																ng-click="updateevaluatehien(item)"
																class="btn btn-success"
																style="color: white;font-weight: bold;"><i
																	class="bi bi-eye-slash"></i> Bật</button>

														</td>
													</tr>



												</tbody>
											</table>
										</div>
										<nav aria-label="Table Paging" class="mb-0 text-muted"
											style="padding-bottom: 10px;">
											<ul class="pagination justify-content-center mb-0" style="cursor: pointer;">
												<li class="page-item"><a class="page-link" ng-click="pager.prev()">Trang
														trước</a></li>
												<li class="page-item"><a class="page-link">{{pager.page}}</a></li>
												<li class="page-item active"><a class="page-link">{{pager.page + 1
														}}</a>
												</li>
												<li class="page-item"><a class="page-link">{{pager.page + 2}}</a></li>
												<li class="page-item"><a class="page-link" ng-click="pager.next()">Trang
														sau</a>
												</li>
											</ul>
										</nav>
									</div>
								</div> <!-- simple table -->
							</div> <!-- end section -->
						</div> <!-- .col-12 -->


					</div> <!-- .row -->



				</div>

			</main> <!-- main -->
		</div> <!-- .container-fluid -->




	</div>







</body>

</html>